@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Azeret Mono", monospace;
    box-sizing: border-box;
}

/* header section */

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 114px;
    height: 34px;
    margin-left: 150px;
    margin-top: 10px;
    font-family: "Azeret Mono", monospace;
    font-size: 28px;
    font-weight: 800;
}
.logo a{
    text-decoration: none;
    color: rgb(13, 19, 33);
}
.btn button{
    width: 228px;
    height: 58px;
    margin-right: 150px;
    margin-top: 38px;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    background: white;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.btn button:hover{
    cursor: pointer;
}

/* first section */

#main_section{
    width: 100%;
    height: 630px;
    background-image: url(../assets/Hero-bg.png);
    margin-top: 50px;
    border-top: 3px dashed #ddd;
    border-bottom: 3px dashed #ddd;
}
.main .main_content{
    width: 998px;
    height: 582px;
    margin: 26px auto 44px;
}

.main_content .center{
    display: block;
    margin: 0 auto 32px;
}
.main_content h1{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    width: 998px;
    height: 136px;
    line-height: 60px;
}

.main_content p {
    width: 970px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 12px;
    font-weight: 600;
    line-height: 23px;
    text-align: center;
    opacity: 0.7;
    margin: 0 auto;
}

.main_content .btn_1{
    text-align: center;
}

.main_content .btn_1 button{
    width: 208px;
    height: 66px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    margin: 32px auto 0;
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono", monospace;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.main_content .btn_1 button:hover{
    cursor: pointer;
}

/* second section */

#second_contain{
    width: 1140px;
    height: 1395px;
    margin: 74px auto 0;
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.first_div{
    width: 852px;
    height: 115px;
    margin: 0 47px;
}
.first_div h1{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.first_div p{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    line-height: 20px;
    opacity: 0.7;
    margin-top: 24px;
}

.content {
    display: flex;
    width: 946px;
    height: 336px;
    margin: 32px 0 0;
    padding: 48px;
    border-radius: 16px;
    background: linear-gradient(90.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.content .same_div {
    width: 477px;
    height: 220px;
    text-align: left;
}

.content .same_div h3{
    width: 400px;
    height: 72px;
    margin: 8px;
    color: rgba(13, 19, 33, 0.7);
    font-family: "Azeret Mono", monospace;
    font-size: 20px;
    font-weight: 800;
    text-align: left;
    word-spacing: 1px;
    line-height: 26px;
}

.content .same_div p{
    width: 468px;
    height: 52px;
    margin: 8px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 11px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    opacity: 0.7;
}

.content .same_div button{
    background: white;
    width: 150px;
    height: 48px; 
    margin: 8px;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}

.content .same_div button:hover{
    cursor: pointer;
}

.content .same_img {
    width: 259.56px;
    height: 217.01px;
}

/* third section */

#third_contain{
    width: 1140px;
    height: 775px;
    margin: 88px auto 0;
}

#third_contain .writing_content {
    width: 852px;
    height: 113px;
    margin: 0 auto;
}

.writing_content h1{
    width: 852px;
    height: 37px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.writing_content p{
    width: 100%;
    height: 52px;
    margin: 24px 0;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    opacity: 0.7;
}

.yt_video{
    width: 1140px;
    height: 614px;
    margin-top: 48px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;    
}

.yt_video .iframe_select{
    width: 1076px;
    height: 550px;
    margin: 32px;
    border-radius: 16px;
}

/* fourth section */

#target {
    width: 1140px;
    height: 1440px;
    margin: 183px auto 0;
}

.present_target {
    width: 1140px;
    height: 460px;
}

.text_section{
    width: 946px;
    height: 113px;
    margin: 0 auto 48px;
}

.text_section h1{
    width: 852px;
    height: 37px;
    margin-bottom: 24px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    text-align: center;
}

.text_section p{
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 11px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    opacity: 0.7;
}

.p_target_section{
    display: flex;
    width: 100%;
    height: auto;
}
.p_target_section div{
    width: 364px;
    height: 299px;
    margin: 12px;
    padding: 40px;
    text-align: left;
}

.p_target_section div img{
    width: 56px;
    height: 56px;
    margin: 12px 0;
}

.p_target_section div h2{
    width: 284px;
    height: 36px;
    margin: 4px 0;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 26px;
    font-weight: 800;
    text-align: left;
}

.p_target_section div p{
    width: 284px;
    height: 52px;
    margin: 4px 0;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    opacity: 0.7;
}

.p_target_section div a{
    width: 284px;
    height: 19px;
    margin-top: 10px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
}

.p_target_section .div_1 {
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.p_target_section .div_2{
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.p_target_section .div_3{
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.next_target {
    width: 1140px;
    height: 866px;
    margin: 111px 0 0;
}

.text_section_2{
    width: 852px;
    height: 113px;
    margin: 0 auto;
}

.text_section_2 h1{
    width: 852px;
    height: 37px;
    margin-bottom: 24px;
    padding-left: 240px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 800;
    text-align: left;
}

.text_section_2 p {
    width: 852px;
    height: 52px;
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 11px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    opacity: 0.7;
}

.n_target_section div{
    display: flex;
    width: 1140px;
    height: 219px;
    margin: 24px 0;
    padding: 40px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
}

.n_target_section div .span_img{
    width: 15%;
    height: auto;
}

.n_target_section div .span_text {
    width: 85%;
    height: auto;
}

.span_text h2{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 24px;
    font-weight: 800;
    text-align: left;
    margin: 8px 0;
}

.span_text p{
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 11px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    margin: 8px 0;
}

.span_text a{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    text-decoration-line: underline;
    margin: 24px 0;
}

/* last section */

#last_section{
    position: relative;
    background-image: url(../assets/handshake.jpg);
    background-size: cover;
    background-position: center;
    width: 1140px;
    height: 313px;
    margin: 46px auto 80px;
    padding: 64px 48px;
    border-radius: 16px;
}

.text_file{
    width: 730px;
    height: 104px;
    margin: 0 auto 24px;
}

.text_file h1{
    width: 100%;
    height: 36px;
    margin: 16px 0;
    color: rgb(255, 255, 255);
    font-family: "Azeret Mono", monospace;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.text_file p{
    width: 100%;
    height: 52px;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

form{
    text-align: center;
}

form input[type=text]{
    width: 548px;
    height: 57px;
}

form input[type=submit]{
    width: 120px;
    height: 58px;
}

form input[type=submit]:hover{
    cursor: pointer;
}

form input[placeholder]{
    padding-left: 20px;
}

/* footer section */

#footer{
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.03);
}

.footer_text {
    margin-left: 30px;
    color: rgb(13, 19, 33);
    font-family: "Azeret Mono", monospace;
    font-size: 15px;
    font-weight: 600;
}

.footer_icon{
    margin-right: 20px;
}

.footer_icon a{
    padding: 5px;
}